# Custom
BackUp
Build
Koda
AutoIt_Launcher.ini
AutoIt_Launcher.log
AutoIt_Launcher_buttons.data

# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
